services:
  db:
    image: postgres:16-alpine
    container_name: patient-service-db
    env_file:
      - .env
    ports:
      - "5000:5432"
    volumes:
      - patient-db-data:/var/lib/postgresql/data
    restart: unless-stopped

  app:
    build: .
    container_name: patient-service-app
    env_file:
      - .env
    ports:
      - "4000:4000"
    depends_on:
      - db
    restart: unless-stopped

volumes:
  patient-db-data: